# This can created by
# $ irb
# irb> require 'securerandom'
# irb> SecureRandom.hex(64)
# irb=> "secure random string"
SECRET_KEY_BASE=3662672af666367ac850fb7f84e279dd7cb44933f9223c25942c6ebe96231d5d29f830a791d3c51a20e0f4e0a1e22cf4acc527931042652d42419f05be957290

# fastladder database.yml
DB_ADAPTER=mysql2
DB_ENCODING=utf8mb4
DB_NAME=fastladder
DB_USER=fastladder
DB_PASSWORD=fastladder1234
DB_HOST=db
